<div [ngClass]="!showMenu ? 'filters desktop' : 'filters mobile-view'" *ngIf="categories">
    <div class="categories-el" *ngFor="let category of categories">
        <input type="checkbox" class="checkbox"
            [id]="category.strCategory"
            [checked]="checkInShowedCategories(category.strCategory)"
            (change)="changeShowedCategories(category.strCategory)">
        <label [for]="category.strCategory">{{ category.strCategory }}</label>
    </div>
    <button (click)="pressApply()" [disabled]="categories && !showedCategories.length">Apply</button>
</div>
