<div class="all-drinks" id="scroller" *ngIf="allDrinks.length" ngxInfiniteScroller strategy="scrollingToBottom"
    (onScrollDown)="onScrollDown()">
    <div class="category" *ngFor="let block of allDrinks">
        <div class="category-name">
            <h2>{{ block.category }}</h2>
        </div>
        <div class="all-category-drinks">
            <div class="drink-el" *ngFor="let drink of block.drinks">
                <div><img [src]="drink.strDrinkThumb"></div>
                <p>{{ drink.strDrink }}</p>
            </div>
        </div>
    </div>
</div>